header{
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 8vw;
    padding: 20px 0px 10px 0px;
    color: #304529;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    margin: 0px 10px;
}

body h2{
    font-size: 110%;
    text-align: center;
    margin: 10px 0px;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    color: #304529;
}

body h3{
    background-color: #bcd4bd;
    padding: 4px;
    font-size: 110%;
    margin: 10px 0px;
}

body h4{
    background-color: beige;
    padding: 4px;
    margin: 10px 0px;
}

nav ul{
    color: black;
    display: grid;
    grid: 35px / auto auto auto;
    align-items: center;
    background-color: #cdd491;
}

nav ul > li{
    text-align: center;
}

nav ul li a.in_use{
    font-weight: 700;
    text-decoration: underline;
}

img, video{
    margin-top: 10px;
}

main ul{
    margin-left: 20px;
    list-style-type: circle;
}

main ol{
    margin-left: 20px;
    list-style-type: decimal;
}

section a{
    text-decoration: underline;
}

nav h2{
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    70% {font-size: 30px;}
 }

a.skip-to-content-link{
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 0.5em;
    background-color: beige;
    color: black;
    opacity: 0;
    width: 150px;
}

a.skip-to-content-link:focus{
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

*:focus{
    outline: #304529 solid 3px;
}

.pet_photo_gallery, .travel_photo_gallery{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 15px;
}

.pet_intro, .intro_location_images{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 15px;
}

form {
    background-color: white;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}

::placeholder {
    color: #304529;
    opacity: 0.7; 
}

input {
    all: unset;
    font: 16px system-ui;
    color: #304529;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}
  
svg {
    color: #304529;
    fill: currentColor;
    width: 48px;
    height: 48px;
    padding: 10px;
}

/* Tablet view */
@media only screen and (min-width: 768px) {
    .pet_photo_gallery, .travel_photo_gallery, .pet_intro, .intro_location_images{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

    }

    header{
        font-size: 4vw;
        float: left;
        display: inline;
        width: 49%;
    }

    nav ul{
        padding: 20px 0px 10px 0px;
        background-color: white;
    }

    nav ul > li{
        border: solid #cdd491 5px;
        background-color: #cdd491;
        margin-left: 10px;
        margin-right: 10px;
        width: 110px;
    }

    hr{
        border: solid #304529;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .recipe_image{
        float: right;
        margin-top: -70px;
        border: solid #304529 3px;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .recipe_divider{
        width: 40%;
    }

    .pet_intro > p{
        margin-top: 10px;
        margin-right: 10px;
    }

    .pet_intro{
        display: inline-grid;
        grid-template-columns: auto auto;
    }

    .invisible_hr{
        border: none;
    }
}

/* Desktop view */
@media only screen and (min-width: 992px) {
    .pet_photo_gallery{
        grid-template-columns: repeat(4, 1fr);
    }

    .travel_photo_gallery{
        grid-template-columns: repeat(5, 1fr);
    }

    hr{
        border: none;
    }

    header {
        font-size: 30px;
        width: 35%;
    }

    .rectangle{
        background-color: #cdd491;
        height: 80px;
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9;
    }
    
    nav ul {
        width: 100px;
        background-color: transparent;
        position: fixed;
        left: 400px;
        z-index: 10;
    }

    body{
        /* Note: neither alt-text not aria-labels are compatible with "background-image"*/
        background-image: url("../images/opaque_background.jpeg");
    }

    form{
        display: flex;
        position: fixed;
        animation-name: example1;
        animation-duration: 2s;
        top: 20px;
        right: 10px;
        width: 200px;
        z-index: 10;
    }

    @keyframes example1{
        0%   {right:10px; top:-100px;}
        100% {right:10px; top:20px;}
    }

    h1{
        position: fixed;
        left: 30px;
        z-index: 10;
    }

    .top{
        border: solid transparent 35px;
    }

    img:hover, video:hover, iframe:hover{
        border: solid 3px #304529;
    }

    img, video, iframe{
        padding: 5px;
        margin: 5px;
        border: solid #cdd491 3px;
    }

    .recipe_image{
        border: solid #cdd491 3px;
    }

    h3, h4{
        padding: 10px;
        border: black solid 1px;
    }

    video{
        width: 200px;
    }
}

@media (prefers-reduced-motion: reduce) {
    nav h2 {animation: none;}
    img[src*="gif"] {display: none;}
    form {animation: none;}
}

/*Common project starter code used with permission from Dr. van Lent: https://github.com/GodHook/starter_html*/